<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to "Posts", posts_path %> </li>
  <li><%= link_to "Users", users_path %> </li>
</ul>

<ul class="nav pull-right">
  <% if current_user %>
    <li class="nav pull-right"><%= link_to current_user.name, current_user%></li>
  <% end %>
</ul>